#container{

    display: flex;
    flex-direction: column;
    background-color: #eee;
    border: 3px solid #304145;
    font-family: Verdana, Serif, Arial, Helvetica;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    }

    #container>*{
        padding: 5px;
        flex: 1 100%;
        border-radius: 3px;
        }    

#heading {
    background-color: #9BC5C9;
    color: #000;
    text-align: center;
    font-size: 20px;
    height: 120px;
    position: relative;
}

#name {
    padding-left: 100px;
    text-align: center;
}

#amandaHeadshot {
    width: 200px; 
    height: 160px;
    border-radius: 3px; 
    background-color: #9BC5C9;
    border: 3px solid #fff;
    position: absolute;
    left: 20px;
    top: 50px;
}

#careerDetails {
    padding: 5px;
    background-color: #304145;
    width: 765px;
    min-height: 15px;
    font-size: 15px;
    text-align: right;
    margin: 5px;
    position : relative;
    left : 235px;
}

#aboutMe {
    padding: 15px;
    background-color: #BAC7CE;
    color: #304145;
    font-size: 15px;
    margin-bottom: 10px;
}

#information {
    background-color: #BAC7CE;
    justify-content: space-between;
}

#content {
    width: 75%;
    padding: 10px;
    min-height: 550px;
    color: #304145;
    margin: 10px;
    float: right;
}

#sidebar {
    width: 20%;
    min-height: 645px;
    background-color:#304145;
    color: #fff;
    float: left;
    position: relative;
}

#contact, #skills, #hobbies {
    margin: 5px;
    padding-left: 10px;
}

#date {
    position: absolute;
    color: #304145;
    clear: both;
    margin-top: 645px;
}

a{
    color: #fff;
    text-decoration: none;
}